*{
    font-family: Black Ops One, Arial, Helvetica, sans-serif;
}
.statement-woo-won{
    color: white;
    text-align: center;
    font-size: 40px;
    padding-left: 7% ;
}

body{
    background-image: url(images/background.png);
    width: 87vw;
    height: 87vh;
    background-repeat: no-repeat;
    background-size:cover;
}
.logo{
    text-align: center;
    color:white;
    font-size: 500%;
    margin: 0;
    margin-left: 100px;
    }
.logo2{
    position:relative;
    top: -10% ;
    margin-bottom: 100px;
}
.player{
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;

}

.player input{
    padding-left: 30px;
    height: 40px;
    border: none;
    background-color: #D9D9D9;
    opacity: 50%;
    width: 30%;
    border-radius: 20px;
    font-size: 20px;
}
.player input::placeholder{
    text-align: center;
}
.player h1{
    margin-left: 20%;
}
.player1{
    margin-bottom: 100px;
}
.start-button{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    margin-left: 100px;

    /* padding: 4%; */
}
.namme-input{
    text-align: center;
}
.button{
    padding: 0.5%;
    padding-left: 50px;
    padding-right: 50px;
    border: none;
    background-color: #8a4242;
    opacity: 50%;
    /* width: 30%; */
    border-radius: 20px;
}
.button:hover,.player input{
    background-color: #bdbdbd;
    opacity: 70%;
    cursor: pointer;
}
.player-won,.statement-woo-loss,.score-won{
    text-align: center;
    margin-left: 90px;
    font-size: 60px;
    color: white;
    margin-bottom: 30px;
}
.home{
    background-color: ;
}
.score-Update{
    display:flex;
    justify-content: space-between;
    padding-left: 45%;
    color: white;
    padding-right: 40%;
    
}

.home, .instru{
    position: absolute;
    right: 5%;
    top: 5%;
    color: white;
    font-size: 2rem;
    background-color: #bdbdbd;
    opacity: 60%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.inst p{
    margin-top: 3%;
    color: white;
    font-size: 2rem;
    text-align: center;
}